IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

Header unset ETag
FileETag None

<ifModule mod_gzip.c>
	mod_gzip_on Yes
	mod_gzip_dechunk Yes
	mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
	mod_gzip_item_include handler ^cgi-script$
	mod_gzip_item_include mime ^text/.*
	mod_gzip_item_include mime ^application/x-javascript.*
	mod_gzip_item_exclude mime ^image/.*
	mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

<ifmodule mod_expires.c>
	<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|txt|html|x-html|php|css|xml|js|woff|ttf|svg|eot)(\.gz)?$">
		SetOutputFilter DEFLATE
		ExpiresActive On
		ExpiresDefault "access plus 10 years"
		ExpiresByType text/html "access plus 1 day"
	</FilesMatch>
</ifmodule>

<IfModule mod_rewrite.c>
	RewriteEngine On
	Options +FollowSymlinks

	RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC] 
	RewriteRule ^(.*)$ http://%1/$1 [R=301,L]


	RewriteBase /viettech/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^$  index.php

	ErrorDocument 404 /viettech/404.html

	RewriteRule ^([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+)-([0-9]+).html?(.*)$ index.php?name=$1&id=$3 [QSA]
	RewriteRule ^admin/([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+)-([0-9]+).html?(.*)$ admin/index.php?name=$1&id=$3 [QSA]

	RewriteRule ^([0-9a-zA-Z\-]+)/danh-muc/([0-9a-zA-Z\-]+)-([0-9]+).html?(.*)$ index.php?name=$1&idList=$3 [QSA]
	RewriteRule ^admin/([0-9a-zA-Z\-]+)/danh-muc/([0-9a-zA-Z\-]+)-([0-9]+).html?(.*)$ admin/index.php?name=$1&idList=$3 [QSA]

	RewriteRule ^([0-9a-zA-Z\-]+).html?(.*)$ index.php?name=$1 [QSA]
	RewriteRule ^admin/([0-9a-zA-Z\-]+).html?(.*)$ admin/index.php?name=$1 [QSA]
</IfModule>